    .split-main {
        display: flex; 
        width: 100%; 
        height: 100vh; 
        background-color: rgb(230, 235, 182);
    }

    .left-block {
        flex: 1; 
        padding: 5%
    }

    .right-block {
        flex: 1; 
        padding: 5%;

    }

    ol {
        font-family: calibri, sans-serif;
        text-align: justify; 
        word-spacing: 2px; 
        padding: 10%;
        line-height: 250%; 
    }


    .facts-block {
        border: #7a9244 double 4px;
        border-radius: 45%;
        background-color: rgb(230, 235, 182);
        padding: 10%;
        text-align: center;
    }

    ol li::marker {
        font-family: Shrek, cursive; 
        font-size: 1.2em; 
        color: #000000; 
}


    li {
        margin-bottom: 10px;
        text-align: center;
    }

    h3 {        
        font-family: Shrek, cursive;
        color: #7a9244;}

    p {
        font-family: fantasy, sans-serif;
        line-height: 200%;
        text-align: center;
    }