@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

img {
    width: 270px;
    height: 370px;
    border-radius: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Playfair Display', serif;
}

.gallery figure {
    text-align: center;
    margin: 10px;
    width: 320px;
}

.gallery figcaption {
    margin-top: 10px;
    font-size: 1.3em;
    color:#d4630c;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

figure:hover figcaption {
  opacity: 1;
}

figure:hover img {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
} 


