@import url('https://fonts.cdnfonts.com/css/shrek-3');


body {
    margin: 0;
    padding: 0 40px var(--footer-h);   
    background-color:  #121212;
}

html {
    display: grid;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    min-height: 0;
    gap: 8px;
    font-size: 1.2em;
    font-family: 'Shrek', cursive;
}

header {
    grid-column: 1/-1;
    background:#d4630c;
    padding: 1rem;
    text-align: center;
    font-size: 150%;
    color: #337800;
}

main {
    background: #e1dfb6;
    padding: 1em;
    overflow: auto;
}

ul {
    list-style: none;
    padding: 1em;
    color: orange;
    line-height: 250%;
}

a:link {
    color: #ff5900; 
    }
a:visited {
    color: #c5ee7d	; 
        }

a:active {
    color: #5c452d; 
}

a:hover {
    color: #d55e00; 
}

nav {
  background: #7a9244;
  padding: 1em;
  text-align: center;
  padding: 10%;
}

footer {
  grid-column: 1/-1;
  background: #8cb04e;
  padding: 1em;
  text-align: center;
  font-size: 14px;
  color: #502c09;
}

/* ###################################### Base */