img {
    width: 300px;
    height: 400px;
    border:orange 5px solid;
    border-radius: 5%;
}

.gallery li {
    display:inline-block;
    text-align: center;
    margin: 10px;  
    width:320px;
    vertical-align: top;
}



