@import url('https://fonts.cdnfonts.com/css/ballet');

.header-container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

/* Stack titles vertically */
.titles {
    display: flex;
    flex-direction: column;    /* stack h1 and h2 */
    gap: 8px;                  /* space between h1 and h2 */
    left: 50%;
    grid-column: 2; /* middle column */
    justify-self: center;
}

#title_shrek {
    max-height: 170px;         /* adjust as needed */
    width: auto;
    margin-left: auto;
    grid-column: 3; /* right column */
    justify-self: end;
}

#sub-title {
  font-family: fantasy, sans-serif; 
  color: white;                   
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
  margin: 20px 0;
}

#intro_to_shrek{
    font-family: fantasy,sans-serif !important;
}
#intro_to_shrek::first-letter {
    font-family: ballet, sans-serif;
    font-size: 5rem;    /* make it big */
    font-weight: bold;
    float: left;        /* makes the letter drop into the paragraph */
    line-height: 1;
    margin-right: 5px;  /* space between big letter and text */
}

#main-title{
    font-size: 90px;
    text-shadow: 3px 3px 5px rgba(100, 12, 90, 0.5);
}
#main-title, #sub-title {
  margin: 0;   /* remove all default top/bottom spacing */
}
