@import url('https://fonts.cdnfonts.com/css/shrek-3');

body {
  background-color: #c4e4ae;
  font-size: 1.2em;
  font-family: 'Shrek', cursive;
  display: flex;
  flex-direction: column;
}

header {
  background: #d4630c;
  padding: 1rem;
  text-align: center;
  font-size: 150%;
  color: #337800;
}

footer {
  background: #8cb04e;
  padding: 1em;
  text-align: center;
  font-size: 14px;
  color: #502c09;
}

.content {
  display: flex;           
  flex: 90%;                 
  min-height: 100vh;           
}

nav {
  flex: 10%;         
  background: #7a9244;
  padding: 2%;
  text-align: center;
}


main {
  flex: 100%;             
  background: #e1dfb6;
  padding: 1em;
  overflow: auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 1em;
  color: orange;
  line-height: 250%;
}

a:link {
  color: #ff5900;
}
a:visited {
  color: #c5ee7d;
}
a:active {
  color: #5c452d;
}
a:hover {
  color: #d55e00;
}

html {
    cursor: url('../assets/images/Shrek - pointer - 48head.png'), auto;
}
nav :hover{
    cursor: url('../assets/images/Shrek - cursor -48hand.png'), pointer;
}
nav :active{
    cursor: url('../assets/images/Shrek - cursor -48hand.png'), pointer;
}