.content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
}

.header {
  background-color: #d55e00;
  grid-column: 20% / span 2;
}

.nav {
  background-color: #f0e442;
  grid-row: 20% / span 2;
  grid-column: 20%;
}

nav ul {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 30px;                
  flex-wrap: wrap;          
  list-style: none;         
  padding: 20px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body { 
  margin: 0;
  padding: 0 40px;   
  background-color: #eaeec9;
}

main {
    /* flex: 1;   */
    /* background-color: white; */


}

h1, h2 {
  font-family: 'Shrek', cursive;
  text-align: center;
  color: #337800
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  margin: 10px 0;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 100px;
}
