.content {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
}

.container {
  width: 3fr;
  height: 100vh;

  display: grid;
  /* used arbitrary units of measurement to mimic wireframe */
  grid-template: 10% auto 20% / 1fr 3fr;
}

.header {
  background-color: #d55e00;
  grid-column: 20% / span 2;
}

.nav {
  background-color: #f0e442;
  grid-row: 20% / span 2;
  grid-column: 20%;
}

.footer {
  background-color: #009e73;
  grid-column: auto / span 2;
}
:root { --footer-h: 56px; }

html, body { height: 100%; }
body { 
    margin: 0;
    padding: 0 40px var(--footer-h);   
    background-color: #eaeec9;
}

main {
    flex: 1;  
    /* background-color: white; */


}

h1, h2 {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    color: #337800
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    margin: 10px 0;
}

footer {
    position: fixed;
    left: 0; right: 0; bottom: 0;
    height: var(--footer-h);
    display: flex; align-items: center; justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #666;
}
